form {
    .control {
        margin: 1rem 0;

        input,
        textarea {
            box-sizing: content-box;
            width: 100%;
            font-family: 'Inter', sans-serif;
        }

        input {
            height: 1.4rem;
            min-height: 1.4rem;
        }

        textarea {
            padding: 0.4rem;
        }

        label {
            display:inline-block;
            padding-bottom: 1rem;
            font-weight: bold;

        }
    }

    .actions {
        margin: 1rem 0;
    }
}
